body {
	 /* ambos */
	margin-top: 50px;
	
	/* somente full - corrigir margens */
	margin-bottom: 50px;
	background: none;
}

.titulo {
	color:#fff;
	text-shadow:1px 2px #2c3e50;
}

.titulosec {
	color:#3498db;
	text-shadow:1px 1px #ccc;
}

.subtitulo {
	color: #ffffff;
}

.full {
	/*background: url(http://placehold.it/1920x1080) no-repeat center center fixed;*/
	background: url(../img/bg5.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.hero-spacer {
	margin-top: 50px;
}

.hero-feature {
	margin-bottom: 30px;/* spaces out the feature boxes once they start to stack responsively */
}

footer {
	margin: 50px 0;
}


#graph1, #graph2, #graph3, #graph4 {
	background-color: #2ecc71;
}


/* treemap */



form {
  position: absolute;
  left: 20px;
  top: 10px;
}

.node {
  border: solid 2px white;
  position: absolute;
}

#tooltip {
  position: absolute;
  width: 220px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}





